@import "~antd/dist/antd.css";
/* ANTD */

.App {
  display: flex;
  flex: 1;
  justify-content: center;
  text-align: center;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: azure;
}

.center-parent {
  display: flex;
  margin: auto;
  justify-content: center;
}

.center-item {
  flex: 1;
}

.center-flex-container {
  margin-bottom: auto;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.bottom-text-container {
}

.fdr {
  flex-direction: row;
}

.fdc {
  flex-direction: column;
}

.margin-center {
  margin-left: auto;
  margin-right: auto;
}

.load-page {
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

@font-face {
  font-family: "DungGeunMo";
  src: url("../font/DungGeunMo.eot") format("embedded-opentype"),
    url("../font/DungGeunMo.woff2") format("woff2"),
    url("../font/DungGeunMo.woff") format("woff"),
    url("../font/DungGeunMo.ttf") format("truetype"),
    url("../font/DungGeunMo.otf") format("otf");
}

* {
  font-family: DungGeunMo, serif, "Apple SD Gothic Neo" !important;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #ff9fc9;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}
/* Color Theme Swatches in Hex */
.Vibriant-sunshine-1-hex { color: #1BDDE8; }
.Vibriant-sunshine-2-hex { color: #2BFF00; }
.Vibriant-sunshine-3-hex { color: #FFCE00; }
.Vibriant-sunshine-4-hex { color: #E80C7A; }
.Vibriant-sunshine-5-hex { color: 	#FF69B4; }

.pageCSS {
  height: 100%;
  background-color: hotpink;
  flex-direction: column;
  flex: 1;
}
.pageCSS-green {
  height: 100%;
  background-color: #FCF7DA;
  flex-direction: column;
  flex: 1;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media screen and (max-width: 1px) {
  #footer-menubar1 {
    display: none;
  }
}

@media screen and (min-width: 0px) {
  /*@media screen and (min-width: 768px) {*/
  #footer-menubar1 ul li {
    list-style: none;
    color: white;
    background-color: #222222;
    float: left;
    line-height: 30px;
    vertical-align: middle;
    text-align: center;
    position: fixed;
    bottom: 0;
    margin-bottom: 0px;
  }
  .menuLink1 {
    position: fixed;
    left: 0%;
    width: 20%;
  }
  .menuLink2 {
    position: fixed;
    left: 20%;
    width: 20%;
  }
  .menuLink3 {
    position: fixed;
    left: 40%;
    width: 20%;
  }
  .menuLink4 {
    position: fixed;
    left: 60%;
    width: 20%;
  }
  .menuLink5 {
    position: fixed;
    left: 80%;
    width: 20%;
  }
  #footer-menubar1 .menuLink {
    text-decoration: none;
    color: white;
    display: block;
    /* width: 260px; */
    font-size: 12px;
    font-weight: bold;
    font-family: "Trebuchet MS", Dotum, Arial;
  }
  #footer-menubar1 .menuLink:hover {
    color: rgb(255, 136, 0);
    background-color: #f0d4d4;
  }
}

.flex {
  display: flex;
  flex: 1;
}
.flex-fixer {
  display: flex;
  flex: 0 0 1;
}

.flex-container-col {
  display: flex;
  flex: 1;
  flex-direction: column;
}

.flex-container-row {
  display: flex;
  flex: 1;
  flex-direction: row;
}

/*썸네일표현*/
.thumbnail-wrap {
  width: 300px; /*container-width*/
  overflow: hidden; /*hide bounds of image */
  margin: 0; /*reset margin of figure tag*/
}

.main-thumbnail-wrap {
  width: 300px; /*container-width*/
  overflow: hidden; /*hide bounds of image */
  margin: 0 auto 0 auto; /*reset margin of figure tag*/
}

.thumbnail {
  display: block; /*remove inline-block spaces*/
  width: 100%; /*make image streatch*/
}

.thumbnail {
  /*add to other styles*/
  /*add to other styles*/
  margin: -21.875% 0;
  /*width:177.777%;!**!*/
}

.main-thumnail-img {
  max-width: 100%;
  height: auto;
  margin-left: auto;
  margin-right: auto;
}

.main-hr {
  width: 85%;
  border-color: black;
  margin-top: 1px;
  margin-left: auto;
  margin-right: auto;
}

/*썸네일표현*/
.eval-quality {
  text-align: center;
}

.eval-difficulty {
  text-align: center;
}
.input-comment {
  text-align: center;
}
i {
  font-size: 44px;
  display: block;
}

.eval-question {
  font-size: 17px;
}
